.leaderBoardSection {
  display: flex;
  padding: 20px 40px 0 20px;
  margin: 30px 20px;
  gap: 20px;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

.leaderBoardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.leaderBoardHeader p {
  font-size: 48px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-family: sans-serif;
  overflow-y: scroll;
}

.theadRow {
  text-align: center;
}

.th,
.td {
  padding: 24px;
  vertical-align: middle;
}

.tbodyRow td {
  padding: 24px;
  text-align: center;
}

.oddRow {
  background-color: #c9d9ff14;
}

.arrowCell {
  width: 30px;
  text-align: center;
}

.numberCell {
  width: 40px;
  font-weight: 600;
}

.arrowUp {
  color: #40ff75;
  font-size: 18px;
}

.arrowDown {
  color: #ff1b44;
  font-size: 18px;
}

.noArrow {
  color: #606060;
  font-size: 18px;
}

.rocketContainer {
  position: relative;
  height: 200px;
  overflow: visible;
}

.rocket {
  left: -250px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rocketImg {
  z-index: 3;
}

.fireTrail {
  position: absolute;
  top: 100%;
  width: 12px;
  height: 200px;
  background: linear-gradient(
    346.96deg,
    rgba(150, 52, 136, 0) 38.72%,
    #fc6f32 59.86%,
    #ff4a59 75.84%,
    #ff4a59 90.6%
  );
  z-index: 3;
  border-radius: 20px;
  filter: blur(2px);
}

@media (max-width: 768px) {
  .th,
  .td {
    padding: 12px;
  }

  .tbodyRow td {
    padding: 12px;
  }

  .arrowCell {
    width: 20px;
  }

  .numberCell {
    width: 30px;
  }

  .hideOnMobile {
    display: none;
  }

  .leaderBoardSection {
    padding: 20px 20px 0 20px;
  }

  .leaderBoardHeader p {
    font-size: 18px;
  }

  .rocketContainer {
    height: 120px;
  }

  .rocket {
    left: 0;
  }

  .rocketImg {
    height: 100px;
  }

  .fireTrail {
    height: 100px;
  }
}
