.button {
  padding: 22px 48px 24px 48px;
  border-radius: 91px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0;
  color: #ffffff;
  cursor: pointer;
  z-index: 3;
  background: linear-gradient(#000, #000) padding-box,
    linear-gradient(106.2deg, #963488 -12.33%, #fc6f32 50.28%, #ff4a59 114.17%)
      border-box;
  border: 2px solid transparent;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.button:hover {
  background: linear-gradient(
        106.2deg,
        #963488 -12.33%,
        #fc6f32 50.28%,
        #ff4a59 114.17%
      )
      border-box,
    linear-gradient(106.2deg, #963488 -12.33%, #fc6f32 50.28%, #ff4a59 114.17%)
      padding-box;
  color: #ffffff;
}

.borderless {
  border: none;
  background: transparent;
  color: #ffffff;
  transition: color 0.3s ease;
}

.borderless {
  border: none;
  background: transparent;
  color: #ffffff;
  transition: color 0.3s ease;
}

.borderless:hover,
.borderless :active {
  color: #fc6f32;
  border: none;
  background: none;
}

@media (max-width: 768px) {
  .button {
    font-size: 18px;
    padding: 14px 32px 16px 32px;
  }
}

@media (max-width: 400px) {
  .button {
    font-size: 14px;
    padding: 12px 28px 14px 28px;
  }
}
